<html>
<head>
    <meta charset="UTF-8">
    <title>TO-DO</title>
</head>
<body>
    <h1>Your TO DO list.</h1>
    <form method="POST">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item."/>
        {% csrf_token %}
    </form>
    <table id="id_list_table" >
        <tr><td>1: {{ new_item_text }}</td></tr>
    </table>
</body>
</html>

